<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>컨스낵 주문하기</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script>
        var products = [
            { no: 1, name: '복숭아 아이스티',  price: 1500 },
            { no: 2, name: '블루레몬 에이드',  price: 3000 },
            { no: 3, name: '청포도 에이드',  price: 1500 },
            { no: 4, name: '맥스봉',  price: 3000 },
            { no: 5, name: '맛밤',  price: 1500 },
            { no: 6, name: '웰치스 후르츠 젤리',  price: 3000 },
            { no: 7, name: '몰티져스 초코볼',  price: 1500 },
            { no: 8, name: '하리보 푸르티부시',  price: 3000 },
            { no: 9, name: '하리보 스타믹스',  price: 1500 },
            { no: 10, name: '마이구미(복숭아)',  price: 3000 },
            { no: 11, name: '마이구미(포도)',  price: 1500 },
            { no: 12, name: '트레일믹스바',  price: 3000 },
            { no: 13, name: '그래놀라바',  price: 1500 },
            { no: 14, name: '니블스 초코볼',  price: 3000 },
            { no: 15, name: '카스타드',  price: 1500 },
            { no: 16, name: '피네스케이크',  price: 3000 },
            { no: 17, name: '스트로베리&요거트',  price: 1500 },
            { no: 18, name: '카페모카롤(2개)',  price: 3000 },
            { no: 19, name: '다이제',  price: 1500 },
            { no: 20, name: '오레오 쿠키',  price: 3000 },
            { no: 21, name: '라이스크리스피',  price: 1500 },
            { no: 22, name: '미니 브라우니',  price: 3000 },
            { no: 23, name: '인절미스낵',  price: 1500 },
            { no: 24, name: '라고 와퍼(카카오/네이비)',  price: 3000 },
            { no: 25, name: '라고 와퍼(바닐라/블루)',  price: 1500 },
            { no: 26, name: '라고 와퍼(헤이즐넛/레드)',  price: 3000 },
            { no: 27, name: '퍼프 초코',  price: 1500 },
            { no: 28, name: '퍼프 밀크',  price: 3000 },
            { no: 29, name: '콤보스 치즈크래커',  price: 1500 },
            { no: 30, name: '까르보나라 불닭볶음면',  price: 3000 },
            { no: 31, name: '짜파구리',  price: 1500 },
            { no: 32, name: '육개장 사발면',  price: 3000 },
            { no: 33, name: '컵누들(매콤/소)',  price: 1500 },
            { no: 34, name: '참깨라면 소컵',  price: 3000 },
            { no: 35, name: '스위티 자몽 주스',  price: 1500 },
            { no: 36, name: '허쉬 초콜릿 드링크',  price: 3000 },
            { no: 37, name: '망고주스',  price: 1500 },
            { no: 38, name: '검은콩 두유',  price: 3000 },
            { no: 39, name: '코카콜라',  price: 1500 },
        ];



        $(document).ready(function(){
            // for문 돌려야 합니다.
            $("input[type='checkbox']").change(function(){
                if($("input[type='checkbox']:checked")){

                }
            })
            




            $("#select").change(function(){
                if($("#select").is(":checked")){
                    $("#number").show();
                    $("#number").val(1);
                }else{
                    $("#number").hide();
                    $("#number").val(0);                   
                }
            });

            for (var i = 0; i < products.length; i++) {
                            console.log(products[i]);
                            var temp_html = `
                            <tr>
                                <td>${products[i].no}</td>
                                <td>${products[i].name}</td>
                                <td>${products[i].price}</td>
                                <td><input type="checkbox" id="select"></td>
                                <td><input type="number" id="number" min="1" max="4" style="display: none"></td>
                            </tr>
                            `;
                            $('#orders-box').append(temp_html);
                        }

        });




        function msgbox() {
            tempPrice = 0
            if($("#select").is(":checked") == true){
                tempPrice = tempPrice + Number($("#price").text())*$("#number").val()
                $.ajax({
                    type: "POST",
                    url: "/order",
                    data: {
                        name_give: $('#name').text(),
                        price_give: Number($('#price').text()),
                        qty_give: $('#number').val(),
                        pay_give: Number($("#price").text())*$("#number").val(),

                    },
                    success: function (response) {
                    if (response["result"] == "success") {
                        alert("주문 금액은 " + tempPrice + " 원 입니다. 결제하시겠습니까?")
                        location.href = 'http://www.payapp.kr/L/z1SIdB'
                        console.log(response);
                    }
                    },
                })
            }else{alert("선택한 상품이 없습니다.")}
            
        }






    </script>
</head>

<body>
    <h1>컨스낵 주문하기♥</h1>
    <h2>▶ 1번 매대_팩 음료&기타류</h2>
    <h3>#얼음은_제빙기/정수기에서, 냉장 보관 음료는 스크롤을 내려서 맨 밑으로!</h3>
    <table class="table" border="1">
        <thead>
            <tr>
                <th>No.</th>
                <th>상품명</th>
                <th>개당 가격(원)</th>
            </tr>
        </thead>
        <tbody id="orders-box"></tbody>
    </table>




    <!-- <table border="1">
        <th>No.</th>
        <th>상품명</th>
        <th>개당 가격(원)</th>
        <tr>
            <td name="no">1</td>
            <td name="name" id="name">바나나킥</td>
            <td name="price" id="price">3000</td>
            <td>
                <input type="checkbox" id="select"></td>
            <td>
                <input type="number" id="number" min="1" max="4" style="display: none">
            </td>
            
        </tr>
        <tr>
            <td name="no">2</td>
            <td name="name">허쉬드링크</td>
            <td name="price">1000</td>
            <td>
                <input type="checkbox"></td>
        </tr>
        </table> -->


        <button onclick="msgbox()" type="button" class="btn btn-primary">
            주문하기
          </button>



    </body>
    </html>



    <!-- 구역을 나누는 태그들 -->
    <div>나는 구역을 나누죠</div>
    <p>나는 문단이에요</p>
    <ul>
        <li> bullet point!1 </li>
        <li> bullet point!2 </li>
    </ul>

    <!-- 구역 내 콘텐츠 태그들 -->


    <hr>
    span 태그입니다: 특정 <span style="color:red">글자</span>를 꾸밀 때 써요
    <hr>
    a 태그입니다: <a href="http://naver.com/"> 하이퍼링크 </a>
    <hr>
    img 태그입니다: <img src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png" />
    <hr>
    input 태그입니다: <input type="text" />
    <hr>
    button 태그입니다: <button> 버튼입니다</button>
    <hr>
    textarea 태그입니다: <textarea>나는 무엇일까요?</textarea>
</body>

</html>